<template>
    <div class='content-container'>
    	<h1>{{ (id) ? 'Update' : 'Create' }} Schedule</h1>
    	<form v-on:submit.prevent='submit' id='schedule-form'>
    		<select  v-model="database_id" 
    				 v-bind:class="{ 'has-error': hasError('database_id') }"
    				 name='database_id'
    		>
    			<option value=0 disabled>Database</option>
				<option v-for='database in databases' 
						v-bind:value="database.id"
				>{{ database.name + ' (' + database.server.name + ')' }}</option>

    		</select>

    		 <div class="form-group">
    			<input v-model='start_date' 
    				   v-bind:class="{ 'has-error': hasError('start_date') }"
                       onfocus="(this.type='date')" 
                       onblur="(this.type='text')" 
    				   type="text" 
    				   placeholder="Start Date" 
    				   name="start_date" 
    				   required 
    			>
    		</div>

    		<div class="form-group">
    			<input v-model='time' 
    				   v-bind:class="{ 'has-error': hasError('time') }"
                       onfocus="(this.type='time')" 
                       onblur="(this.type='text')"
    				   type="text" 
    				   placeholder="Time" 
    				   name="time" 
    			>
    		</div>
			
    		<select  v-model="frequency" 
                     v-bind:class="{ 'has-error': hasError('frequency') }"
                     name='frequency'
            >
                <option value=''        disabled>Frequency</option>
                <option value='once'    >Once</option>
                <option value='hourly'  >Hourly</option>
                <option value='daily'   >Daily</option>
                <option value='weekly'  >Weekly</option>
                <option value='monthly' >Monthly</option>
            </select>

    		<div class="form-group">
    			<button type="submit">
    				{{ (id) ? 'Update' : 'Create' }}
    			</button>
    			<router-link to="/schedules" class='button'>Back</router-link>
    		</div>
    	</form>
    </div>
</template>

<script>
	export default {
		data () {
			return {
				errors: {},
				databases: [],
				id: (this.$route.params.id) ? this.$route.params.id : false,
				database_id: 0,
                start_date: '',
				time: '',
				frequency: '',
			}
		},
		created () {
			// fetch the data when the view is created and the data is
			// already being observed
			this.fetchInitData();
		},
		methods: {
			fetchInitData () {
				var url = (this.id) ? 'schedules/' + this.id + '/edit' : 'schedules/create';
				this.$http.get(url).then(response => {
					this.databases = response.body.databases;
					
					if (response.body.schedule) {
						var schedule = response.body.schedule;
						this.database_id = schedule.database_id;
						this.start_date = schedule.start_date;
						this.time = schedule.time;
						this.frequency = schedule.frequency;
					}
			  	});
			},
			submit (event) {
				var form_data = new FormData(event.target);
				var url = (this.id) ? 'schedules/' + this.id : 'schedules';
				if (this.id) {
					form_data.append('id', this.id);
					form_data.append('_method', 'PUT');
				}
				this.$http.post(url, form_data).then(response => {
					this.$router.push('/schedules');
				}, response => {
					if (response.status == 422) {
						this.errors = response.body;
					}
				});
			},
			hasError: function (field) {
				return (this.errors[field]) ? this.errors[field] : false;
			},
		},
		watch: {
	    	server_type_id: function () {
	    		var port = this.ports[this.server_type_id];
	    		if (port) {
	    			this.port = port;
	    		}
	    	}
	    }
	 }	
</script>
