<template>
    <div class='content-container'>
		<div class='content-header'>
			<router-link to="/schedules/create" class='button'>Add Schedule</router-link>
		</div>
		
		<div class='standard-list'>
			<div v-if="schedules.length">
			 	<div class='standard-list-row standard-list-header'>
					<span>Database</span>
					<span>Start Date</span>
					<span>Frequency</span>
					<span>Action</span>
				</div>
				<div v-for='(schedule, index) in schedules' class='standard-list-row'>
					<span>
						<router-link :to="'/schedules/' + schedule.id" > {{ schedule.database.name }} ({{ schedule.database.server.name }})</router-link>
					</span>
					<span>{{ schedule.start_date }}</span>
					<span>{{ ucWord(schedule.frequency) }}</span>
					<span>
						<router-link :to="'/schedules/' + schedule.id + '/edit'" class='button button-row' >Edit</router-link>
						<button v-on:click='deleteSchedule' 
								v-bind:schedule-id='schedule.id'
								v-bind:index='index'
								class='button-row'
						>Delete</button>
					</span>
				</div>
			</div>
			<span v-else class="empty-state">
				No schedules have been added yet.
			</span>
		</div>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				schedules: [],
			}
		},
		created () {
			// fetch the data when the view is created and the data is
			// already being observed
			this.fetchInitData()
		},
		methods: {
			fetchInitData () {
				this.$http.get('schedules').then(response => {
			    	this.schedules = response.body.schedules;
			  	});
			},
			deleteSchedule (event) {
				var id = event.target.getAttribute('schedule-id');
				var index = event.target.getAttribute('index');

				this.$http.post('/schedules/' + id, { _method: 'DELETE' } ).then(response => {
					this.schedules.splice(index, 1);
				}, response => {
				});

			},
			ucWord (string) {
				return string.charAt(0).toUpperCase() + string.slice(1);
			}
		}
	 }	
</script>
