<template>
    <div class='content-container'>
		<div class='standard-show'>
			<h2>{{ schedule.database.name }} ({{ schedule.database.server.name }})</h2>
			<ul class='details'>
				<li><strong>Start Date: </strong>{{ schedule.start_date }}</li>
				<li><strong>Time: </strong>{{ schedule.time }}</li>
				<li><strong>Frequency: </strong>{{ ucWord(schedule.frequency) }}</li>
			</ul>
			<router-link to="/schedules" class='button'>Back</router-link>
		</div>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				id: this.$route.params.id,
				schedule: {
					database: {
						name: '',
						server: {
							name: ''
						}
					},
					start_date: '',
					time: '',
					frequency: '',
				},
			}
		},
		created () {
			// fetch the data when the view is created and the data is
			// already being observed
			this.fetchInitData();
		},
		methods: {
			fetchInitData () {
				this.$http.get('schedules/' + this.id).then(response => {
					this.schedule = response.body.schedule;
			  	});
			},
			ucWord (string) {
				return string.charAt(0).toUpperCase() + string.slice(1);
			}
		},
	 }	
</script>
