
// Fonts
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);



// Color palette: https://coolors.co/ecdef3-dbc8d5-b282b5-747173-394e5f
$color1: rgba(236, 222, 243, 1); // Lavender Mist
$color2: rgba(219, 200, 213, 1); // Languid Lavender
$color3: rgba(178, 130, 181, 1); // African Violet
$color4: rgba(116, 113, 115, 1); // Nickel
$color5: rgba(57, 78, 95, 1); 	 // Dark Slate Gray
$error_color: #EC5768;
$font-family_main: Titillium Web, sans-serif;
$app_nav_width: 200px;
$header_height: 50px;


/* 
	Default CSS
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: $font-family_main;	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b {
	font-weight: bold;
}

/* 
	Custom CSS
*/
* {
	font-family: $font-family_main;
}

html,
body,
#app {
	height: 100%;
}
nav.navbar {
	background: $color5;
	border: none;
	color: white;
	height: $header_height;
	line-height: $header_height;
	padding: 0 10%;
}
nav.navbar a {
	text-decoration: none;
	color: white;
	font-family: $font-family_main;
	font-size: 16px;
}
nav.navbar .navbar-right {
	float: right;
}
.app-content,
.app-nav {
	top: $header_height;
	bottom: 0;
	position: absolute;
}
.app-nav {
	left: 0;
	width: $app_nav_width;
	background: $color4;
	font-family: $font-family_main;
}
.app-content {
	right: 0;
	left: 0;
	background: white;
}
#app.logged-in .app-content {
	left: $app_nav_width;
}

.app-nav > a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 16px;
	padding: 10px;
	margin-left: 15px;
}
a.button {

}
.auth-form-containter {
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}
.auth-form-containter > form {
	display: inline-block;
	text-align: left;
}
select:focus,
button:focus,
input:focus {
	outline: none;
}
textarea,
select,
input:not([type='checkbox']) {
	display: block;
	width: 400px;
	height: 50px;
	padding: 0 1em;
	margin-bottom: 15px;
	font-family: $font-family_main;
	font-size: 16px;
	border: solid thin black;
	box-sizing: border-box;
	border-radius: 0;
	-webkit-appearance:none; 
}
textarea {
	padding: 1em;
	height: 150px;
}
.has-error,
input.has-error {
	border: 1px solid $error_color !important;
}
div.checkbox {
	margin-bottom: 15px;
	font-size: 14px;
	width: 100%;
	font-family: $font-family_main;
}
input[type='checkbox'] {
	vertical-align: text-bottom;
}
form a {
	margin-bottom: 15px;
	display: inline-block;
}
a.button,
button {
	border: none;
	padding: 6px 30px;
	color: white;
	background: $color3;
	font-size: 16px;
	font-family: $font-family_main;
	margin-bottom: 15px;
	cursor: pointer;
	width: 400px;
	height: 50px;
	display: block;
	box-sizing: border-box;
    text-align: center;
    line-height: 38px;
    text-decoration: none;
}	
a.button.button-row,
button.button-row {
	height: 100%;
	width: auto;
	padding: 5px 15px;
	display: inline-block;
	line-height: normal;
	margin: 0;
}
a {
	color: black;
	cursor: pointer;
}
span {
	display: inline-block;
	margin-bottom: 5px;
}
span.help-block {
	color: $error_color;
}
.content-header {
	padding: 10px;
}
div.standard-list {
	padding: 15px;
	font-size: 16px;
	font-family: $font-family_main;
}
.content-container {
	padding: 15px;
}
.content-container h1 {
	font-size: 24px;
	margin-bottom: 15px;
}
.content-container h2 {
	font-size: 22px;
	margin-bottom: 5px;
}
.content-container h4 {
	font-size: 16px;
	padding: 2px;
}
div.standard-show {
	padding: 15px;
}
div.standard-show h2 {
	font-weight: bold;
}
.standard-show .description {
	white-space: nowrap;
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.standard-show .details {
	margin-top: 15px;
	margin-bottom: 15px;
}
.standard-show .details li {
	padding: 2px;
}
div.standard-list {
	width: 95%;
}
div.standard-list .standard-list-row {
	white-space: nowrap;
	border-bottom: solid thin black;
}
div.standard-list .standard-list-row > span {
	width: 25%;
	overflow: hidden;
	padding: 5px;
	vertical-align: middle;
}
.delete-form {
	display: inline-block;

}
