<template>
    <div class='content-container'>
    	<h1>{{ (id) ? 'Update' : 'Create' }} Server</h1>
    	<form v-on:submit.prevent='submit' id='server-form'>
    		<select  v-model="server_type_id" 
    				 v-bind:class="{ 'has-error': hasError('server_type_id') }"
    				 name='server_type_id'
    		>
    			<option value=0 disabled>Server Type</option>
				<option v-for='server_type in server_types' 
						v-bind:value="server_type.id"
				>{{ server_type.type }}</option>

    		</select>


    		 <div class="form-group">
    			<input v-model='name' 
    				   v-bind:class="{ 'has-error': hasError('name') }"
    				   type="text" 
    				   placeholder="Name" 
    				   name="name" 
    				   required 
    				   autofocus
    			>
    		</div>

    		<div class="form-group">
    			<textarea v-model='description' 
    					  v-bind:class="{ 'has-error': hasError('description') }"
    					  type="text" 
    					  placeholder="Description" 
    					  name="description" 
    			></textarea>
    		</div>

    		<div class="form-group">
    			<input v-model='address' 
    				   v-bind:class="{ 'has-error': hasError('address') }"
    				   type="text" 
    				   placeholder="Address" 
    				   name="address" 
    			>
    		</div>
			
    		<div class="form-group">
    			<input v-model='port' 
    				   v-bind:class="{ 'has-error': hasError('port') }"
    				   type="number"  
    				   placeholder="Port" 
    				   name="port" 
    			>
    		</div>

    		<div class="form-group">
    			<input v-model='username' 
    				   v-bind:class="{ 'has-error': hasError('username') }"
    				   type="text" 
    				   placeholder="Username" 
    				   name="username"
    			>
    		</div>

    		<div class="form-group">
    			<input v-model='password' 
    				   v-bind:class="{ 'has-error': hasError('password') }"
    				   type="password" 
    				   placeholder="Password" 
    				   name="password"
    			>
    		</div>

    		<div class="form-group">
    			<input v-model='ssh_username' 
    				   v-bind:class="{ 'has-error': hasError('ssh_username') }"
    				   ype="text" 
    				   placeholder="SSH Username" 
    				   name="ssh_username"
    			>
    		</div>

    		<div class="form-group">
    			<input v-model='ssh_password' 
    				   v-bind:class="{ 'has-error': hasError('ssh_password') }"
    				   type="password" 
    				   placeholder="SSH Password" 
    				   name="ssh_password" 
    			>
    		</div>

    		<div class="form-group">
    			<button type="submit">
    				{{ (id) ? 'Update' : 'Create' }}
    			</button>
    			<router-link to="/servers" class='button'>Back</router-link>
    		</div>
    	</form>
    </div>
</template>

<script>
	export default {
		data () {
			return {
				errors: {},
				server_types: [],
				ports: [],
				id: (this.$route.params.id) ? this.$route.params.id : false,
				name: '',
				description: '',
				address: '',
				server_type_id: 0,
				port: 0,
				username: '',
				password: '',
				ssh_username: '',
				ssh_password: '',
			}
		},
		created () {
			// fetch the data when the view is created and the data is
			// already being observed
			this.fetchInitData();
		},
		methods: {
			fetchInitData () {
				var url = (this.id) ? 'servers/' + this.id + '/edit' : 'servers/create';
				this.$http.get(url).then(response => {
					this.server_types = response.body.server_types;
					this.ports = response.body.ports;
					if (response.body.server) {
						var server = response.body.server;
						this.server_type_id = server.server_type.id;
						this.name = server.name;
						this.description = server.description;
						this.address = server.address;
						this.port = server.port;
						this.username = server.username;
						this.password = server.password;
						this.ssh_username = server.ssh_username;
						this.ssh_password = server.ssh_password;
					}
			  	});
			},
			submit (event) {
				var form_data = new FormData(event.target);
				var url = (this.id) ? 'servers/' + this.id : 'servers';
				if (this.id) {
					form_data.append('id', this.id);
					form_data.append('_method', 'PUT');
				}
				this.$http.post(url, form_data).then(response => {
					this.$router.push('/servers');
				}, response => {
					if (response.status == 422) {
						this.errors = response.body;
					}
				});
			},
			hasError: function (field) {
				return (this.errors[field]) ? this.errors[field] : false;
			},
		},
		watch: {
	    	server_type_id: function () {
	    		var port = this.ports[this.server_type_id];
	    		if (port) {
	    			this.port = port;
	    		}
	    	}
	    }
	 }	
</script>
