<template>
    <div class='content-container'>
		<div class='content-header'>
			<router-link to="/servers/create" class='button'>Add Server</router-link>
		</div>
		
		<div class='standard-list'>
			<div v-if="servers.length">
			 	<div class='standard-list-row standard-list-header'>
					<span>Name</span>
					<span>Address</span>
					<span>Port</span>
					<span>Action</span>
				</div>
				<div v-for='(server, index) in servers' class='standard-list-row'>
					<span>
						<router-link :to="'/servers/' + server.id" > {{ server.name }} ({{ server.server_type.type }})</router-link>
					</span>
					<span>{{ server.address }}</span>
					<span>{{ server.port }}</span>
					<span>
						<router-link :to="'/servers/' + server.id + '/edit'" class='button button-row' >Edit</router-link>
						<button v-on:click='deleteServer' 
								v-bind:server-id='server.id'
								v-bind:index='index'
								class='button-row'
						>Delete</button>
					</span>
				</div>
			</div>
			<span v-else class="empty-state">
				No servers have been added yet.
			</span>
		</div>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				servers: [],
			}
		},
		created () {
			// fetch the data when the view is created and the data is
			// already being observed
			this.fetchInitData()
		},
		methods: {
			fetchInitData () {
				this.$http.get('servers').then(response => {
			    	this.servers = response.body.servers;
			  	});
			},
			deleteServer (event) {
				var id = event.target.getAttribute('server-id');
				var index = event.target.getAttribute('index');

				this.$http.post('/servers/' + id, { _method: 'DELETE' } ).then(response => {
					this.servers.splice(index, 1);
				}, response => {
				});

			}
		}
	 }	
</script>
