<template>
    <div class='content-container'>
		<div class='standard-show'>
			<h2>{{ name }} ({{ type }})</h2>
			<h4 class='description'>{{ description }}</h4>
			<ul class='details'>
				<li><strong>Address: </strong>{{ address }} ({{ port }})</li>
				<li><strong>Username: </strong>{{ username }}</li>
				<li><strong>Password: </strong>************</li>
				<li><strong>SSH Username: </strong>{{ ssh_username }}</li>
				<li><strong>SSH Password: </strong>************</li>
				
			</ul>
			<router-link to="/servers" class='button'>Back</router-link>
		</div>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				id: this.$route.params.id,
				name: '',
				type: '',
				description: '',
				address: '',
				port: 0,
				username: '',
			}
		},
		created () {
			// fetch the data when the view is created and the data is
			// already being observed
			this.fetchInitData();
		},
		methods: {
			fetchInitData () {
				this.$http.get('servers/' + this.id).then(response => {
					var server = response.body.server;
					this.name = server.name;
					this.type = server.server_type.type;
					this.description = server.description;
					this.address = server.address;
					this.port = server.port;
					this.username = server.username;
					this.ssh_username = server.ssh_username;
			  	});
			},
		},
	 }	
</script>
