<template>
    <div class='content-container'>
		<div class='standard-list'>
			<div v-if="backups.length">
			 	<div class='standard-list-row standard-list-header'>
					<span>Database</span>
					<span>Server</span>
					<span>Creation Date</span>
					<span>Action</span>
				</div>
				<div v-for='(backup, index) in backups' class='standard-list-row'>
					<span>{{ backup.database.name }}</span>
					<span>{{ backup.database.server.name }} ({{ backup.database.server.server_type.type }})</span>
					<span>{{ backup.created_at }}</span>
					<span>
						<button v-on:click='downloadBackup' 
								v-bind:backup-id='backup.id'
								v-bind:index='index'
								class='button-row'
						>Download</button>
						<button v-on:click='deleteBackup' 
								v-bind:backup-id='backup.id'
								v-bind:index='index'
								class='button-row'
						>Delete</button>
					</span>
				</div>
			</div>
			<span v-else class="empty-state">
				No backups have been added yet.
			</span>
		</div>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				backups: [],
			}
		},
		created () {
			// fetch the data when the view is created and the data is
			// already being observed
			this.fetchInitData()
		},
		methods: {
			fetchInitData () {
				this.$http.get('backups').then(response => {
			    	this.backups = response.body.backups;
			  	});
			},
			deleteBackup (event) {
				var id = event.target.getAttribute('backup-id');
				var index = event.target.getAttribute('index');

				this.$http.post('/backups/' + id, { _method: 'DELETE' } ).then(response => {
					this.backups.splice(index, 1);
				}, response => {
				});
			},
			downloadBackup (event) {
				var id = event.target.getAttribute('backup-id');
				var index = event.target.getAttribute('index');

				var backup = this.backups[index];
				var backup_date = backup.created_at.split(' ')[0];

				window.location = '/storage/backups/' + backup_date + '/' + backup.id + '.sql.gz';
					
			}
		}
	 }	
</script>
