<template>
    <div class='content-container'>
		<div class='standard-show'>
			<h2>{{ backup.database.name }}</h2>
			<h4 class='description'>{{ backup.database.server.name }} ({{ backup.database.server.server_type.type }})</h4>
			<ul class='details'>
				<li><strong>Creation Date: </strong>{{ backup.created_at }}</li>
			</ul>
			<router-link to="/backups" class='button'>Back</router-link>
		</div>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				id: this.$route.params.id,
				backup: {
					database: {
						name: '',
						server: {
							name: '',
							server_type: {
								type: ''
							}
						}
					},
					created_at: '' 
				},
			}
		},
		created () {
			// fetch the data when the view is created and the data is
			// already being observed
			this.fetchInitData();
		},
		methods: {
			fetchInitData () {
				this.$http.get('backups/' + this.id).then(response => {
					this.backup = response.body.backup;
			  	});
			},
		},
	 }	
</script>
