<template>
	<div class='content-container'>
		<h1>{{ (id) ? 'Update' : 'Create' }} Database</h1>
		<form v-on:submit.prevent='submit' id='database-form'>
			<select v-model='server_id' 
					v-bind:class="{ 'has-error': hasError('server_id') }"
					name='server_id'>
				<option value=0 disabled>Server</option>
				<option v-for="server in servers" 
						:value="server.id" 
				>{{ server.name }} ({{ server.server_type.type }})</option>
			</select>

			<div class="form-group">
				<input v-model='name'
					   v-bind:class="{ 'has-error': hasError('name') }" 
					   type="text" 
					   placeholder="Name" 
					   name="name" 
					   required 
					   autofocus
				>
			</div>

			<div class="form-group">
				<textarea v-model='description' 
						  type="text" 
						  placeholder="Description" 
						  name="description" 
				></textarea>
			</div>

			<div class="form-group">
    			<button type="submit">
    				{{ (id) ? 'Update' : 'Create' }}
    			</button>
    			<router-link to="/databases" class='button'>Back</router-link>
    		</div>
		</form>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				errors: {},
				servers: {},
				id: (this.$route.params.id) ? this.$route.params.id : false,
				server_id: 0,
				name: '',
				description: ''

			}
		},
		created () {
			// fetch the data when the view is created and the data is
			// already being observed
			this.fetchInitData();
		},
		methods: {
			fetchInitData () {
				var url = (this.id) ? 'databases/' + this.id + '/edit' : 'databases/create';
				this.$http.get(url).then(response => {
					this.servers = response.body.servers;
					if (response.body.database) {
						var database = response.body.database;
						this.server_id = database.server_id;
						this.name = database.name;
						this.description = database.description;
					}
				});
			},
			submit (event) {
				var form_data = new FormData(event.target);
				var url = (this.id) ? 'databases/' + this.id : 'databases';
				if (this.id) {
					form_data.append('id', this.id);
					form_data.append('_method', 'PUT');
				}
				this.$http.post(url, form_data).then(response => {
					this.$router.push('/databases');
				}, response => {
					if (response.status == 422) {
						this.errors = response.body;
					}
				});
			},
			hasError: function (field) {
				return (this.errors[field]) ? this.errors[field] : false;
			},
		}
	 }	
</script>
