<template>
    <div class='content-container'>
		<div class='content-header'>
			<router-link to="/databases/create" class='button'>Add Database</router-link>
		</div>
		
		<div class='standard-list'>
			<div v-if="databases.length">
			 	<div class='standard-list-row standard-list-header'>
					<span>Name</span>
				<span>Description</span>
				<span>Server</span>
				<span>Action</span>
				</div>
				<div v-for='(database, index) in databases' class='standard-list-row'>
					<span>
						<router-link :to="'/databases/' + database.id" > {{ database.name }}</router-link>
					</span>
					<span>{{ database.description }}</span>
					<span>{{ database.server.name }} ({{ database.server.server_type.type }})</span>
					<span>
						<router-link :to="'/databases/' + database.id + '/edit'" class='button button-row' >Edit</router-link>
						<button v-on:click='backupDatabase' 
								v-bind:database-id='database.id'
								v-bind:index='index'
								class='button-row'
						>Backup</button>
						<button v-on:click='deleteDatabase' 
								v-bind:database-id='database.id'
								v-bind:index='index'
								class='button-row'
						>Delete</button>
					</span>
				</div>
			</div>
			<span v-else class="empty-state">
				No databases have been added yet.
			</span>
		</div>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				databases: [],
			}
		},
		created () {
			// fetch the data when the view is created and the data is
			// already being observed
			this.fetchInitData()
		},
		methods: {
			fetchInitData () {
				this.$http.get('databases').then(response => {
			    	this.databases = response.body.databases;
			  	});
			},
			backupDatabase (event) {

			},
			deleteDatabase (event) {
				var id = event.target.getAttribute('database-id');
				var index = event.target.getAttribute('index');

				this.$http.post('/databases/' + id, { _method: 'DELETE' } ).then(response => {
					this.databases.splice(index, 1);
				}, response => {
				});

			},
			backupDatabase (event) {
				var id = event.target.getAttribute('database-id');

				this.$http.post('/databases/' + id + '/backup').then(response => {
					//add push to backup index
				}, response => {
				});

			}
		}
	 }	
</script>
