<template>
    <div class='content-container'>
	<div class='standard-show'>
		<h2>{{ name }}</h2>
		<h4 class='description'>{{ description }}</h4>
		<ul class='details'>
			<li><strong>Server: </strong>{{ server_name }} ({{ server_type }})</li>
		</ul>
		<router-link to="/databases" class='button'>Back</router-link>
	</div>
</div>
</template>

<script>
	export default {
		data () {
			return {
				id: this.$route.params.id,
				name: '',
				description: '',
				server_name: '',
				server_type: '',
			}
		},
		created () {
			// fetch the data when the view is created and the data is
			// already being observed
			this.fetchInitData();
		},
		methods: {
			fetchInitData () {
				this.$http.get('databases/' + this.id).then(response => {
					var database = response.body.database;
					this.name = database.name;
					this.description = database.description;
					this.server_name = database.server.name;
					this.server_type = database.server.server_type.type;
			  	});
			},
		},
	 }	
</script>
